{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <hr>
    <a href="/">Go Back</a>
    {{ form_end(form) }}
{% endblock %}
